body{
  margin:0;
  padding:0;
  font-family:Arial,sans-serif;
  background:#0f172a;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  width:90%;
  max-width:420px;
  background:#1e293b;
  border-radius:15px;
  padding:20px;
  box-shadow:0 0 15px rgba(0,0,0,0.3);
}

h1{
  color:#38bdf8;
  text-align:center;
  margin-bottom:15px;
}

.chat-box{
  height:350px;
  background:#0f172a;
  border:1px solid #334155;
  border-radius:10px;
  padding:10px;
  overflow-y:auto;
  color:white;
}

.bot{
  background:#2563eb;
  padding:10px;
  border-radius:8px;
  margin:8px 0;
}

.user{
  background:#16a34a;
  padding:10px;
  border-radius:8px;
  margin:8px 0;
  text-align:right;
}

.input-area{
  display:flex;
  margin-top:10px;
}

input{
  flex:1;
  padding:10px;
  border:none;
  border-radius:8px;
  outline:none;
}

button{
  margin-left:8px;
  padding:10px 15px;
  background:#38bdf8;
  color:white;
  border:none;
  border
